body {
	font-family: "Poppins";
	background-color: white;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid black;
}

.divider {
	width: 90%;
	height: 1px;
	background-color: black;
	margin: 0.5rem 0;
}

.navbar {
	width: 100%;
	background: white;
	box-shadow: 0px 2px 2px rgba($color: #000000, $alpha: 0.2);
	&__nav {
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 1rem 0;
	}

	&__dropdown {
		position: relative;
	}

	&__dropdown--grades:hover &__grades-content {
		display: flex;
	}

	&__dropdown--login:hover &__login-content {
		display: flex;
	}

	&__grades,
	&__login {
		font-size: 18px;
		display: flex;
		align-items: center;
		cursor: pointer;
		span {
			margin-left: 10px;
		}
	}

	&__grades-content,
	&__login-content {
		background: white;
		padding: 1rem 2rem;
		position: absolute;
		top: 50px;
		flex-direction: column;
		align-items: center;
		display: none;
		z-index: 2;
	}

	&__login-content {
		left: -50px;
	}

	&__link {
		text-decoration: none;
		color: black;
		text-transform: uppercase;
		text-align: center;
		margin-bottom: 1rem;

		&:hover {
			font-weight: bold;
		}
	}

	&__logo {
		width: 180px;
	}

	&__buttons {
		display: flex;
		font-size: 18px;
	}
}

.hero {
	max-width: 1100px;
	margin: 2rem auto 4rem auto;
	display: flex;
	justify-content: center;
	align-items: center;

	&__image {
		width: 20%;
		margin-left: 4rem;
	}

	&__title,
	&__text {
		text-align: center;
	}

	&__text {
		font-size: 38px;
	}

	&__content {
		width: 50%;
		display: flex;
		flex-direction: column;
	}

	&__buttons {
		margin-top: 4rem;
		display: flex;
		justify-content: space-around;
	}

	&__button {
		color: black;
		background-color: #4ab5ef;
		padding: 1rem 2rem;
		text-decoration: none;
	}
	form {
		&:not(:last-child) {
			margin-right: 2rem;
		}
	}
}

.whyus {
	max-width: 1100px;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	align-items: center;

	&__title {
		font-size: 48px;
		margin: 0;
	}

	&__cards-container {
		margin-top: 2rem;
		display: flex;
	}

	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;

		&:not(:last-child) {
			margin-right: 2rem;
		}
	}

	&__card-image {
		width: 180px;
	}

	&__card-text {
		text-align: center;
	}
}

.quote {
	max-width: 650px;
	margin: 4rem auto;
	display: flex;
	align-items: center;

	&__image {
		width: 200px;
		margin-right: 2rem;
	}

	&__text {
		span {
			font-size: 12px;
		}
	}
}

.footer {
	background-color: #4ab5ef;
	&__text {
		margin: 0 0 1rem 0;
	}

	&__inner {
		max-width: 900px;
		margin: 0 auto;
		padding: 2rem 0;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}

	&__column {
		display: flex;
		flex-direction: column;
		align-items: center;

		text-align: center;
	}

	form:not(:last-child) {
		margin-bottom: 1rem;
	}

	&__link {
		color: black;
		text-decoration: none;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}

@media only screen and (max-width: 600px) {
	.navbar {
		&__nav {
			flex-direction: column;
		}

		&__logo {
			margin-left: -3.5rem;
			order: 1;
		}

		&__dropdown--grades {
			order: 2;
		}

		&__buttons {
			order: 3;
		}
	}

	.hero {
		max-width: 90%;
		flex-direction: column;

		&__image {
			order: 1;
			width: 50%;
			margin-left: 0rem;
		}
		&__title {
			font-size: 28px;
		}

		&__text {
			font-size: 24px;
		}

		&__content {
			order: 2;
			width: 90%;
		}

		&__button {
			padding: 1rem;
		}

		&__buttons {
			margin-top: 2rem;
		}

		form {
			&:not(:last-child) {
				margin-right: 2rem;
			}
		}
	}

	.whyus {
		max-width: 90%;

		&__title {
			font-size: 28px;
			text-align: center;
		}

		&__cards-container {
			flex-direction: column;
			align-items: center;
			max-width: 85%;
		}

		&__card {
			display: flex;
			flex-direction: column;
			align-items: center;

			&:not(:last-child) {
				margin-right: 0;
				margin-bottom: 2rem;
			}
		}

		&__card-image {
			width: 140px;
		}
	}

	.quote {
		max-width: 80%;
		margin: 2rem auto;
		flex-direction: column;

		&__image {
			width: 160px;
			margin-right: 0;
		}

		&__text {
			text-align: center;
		}
	}

	.footer {
		&__inner {
			max-width: 80%;
			flex-direction: column;
			align-items: center;
		}

		&__column {
			margin-bottom: 3rem;
		}
	}
}
